{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}

    <p class="text-success">
    </p>



    <div class="instructions well well-lg">
            {% autoescape off %}   {{ player.quiz_text }}  {% endautoescape %}
            <h3>See Instructions link below for help.</h2>
    </div>

    <div class="panel-heading">
      <table class="table">
        <tr>
        <h4>
            <th width="33%" style="vertical-align:text-top; text-align: right; font-size:190%">
              <br> Your score:
            </th>
        <th  width="15%" style="vertical-align:bottom;align: center;">
             <br> <br>       {% formfield player.quiz_user_answer with label="" %}
        </th>
            <th  width="50%" style="vertical-align:bottom; text-align: left">

            </th>
        </tr>
      </table>
    </div>

    {% next_button %}

        {% if debug %}

        <div class="box" style="background-color: #e4ffdd">

            <h4><br>Cheater Mode Activated (Debug Mode Only)</h4>
            <p>
                The answer is {{ player.quiz_sol}}.
            </p>
        </div>
    {% endif %}

<script type="text/javascript">
document.getElementById('id_quiz_01').focus()
</script>

    <p>
        <br><br>
        Full Instructions <a href="#" id="hide">Hide</a> - <a href="#" id="show">Show</a>
    </p>

    <div id='instrucs' style="display:none"> {% include Constants.instructions_template %} </div>



{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("#instrucs").hide();
        });
        $("#show").click(function(){
            $("#instrucs").show();
        });
    });
    </script>
{% endblock %}
