{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}
{% load mathfilters %}

{% block title %}
    Round {{stage_round}} of {{ session.config.stage_round_count }} - Select your decision
{% endblock %}

{% block content %}

    <p>
        In making this decision, assume Player A selected A2. 
    </p>  
    <p>
        You will be a <b><font color="Blue">Role F</b></font> participant for the remainder of this experiment.
    </p>

    <p>
        In Part 2 you contributed on average {{ participant.vars.overall_ge_percent|mul:100|floatformat:"0" }}%. 
        Your counterpart, Role F overall on average  contributed {{ counter_party_overall_ge_percent|floatformat:"2" }}% to the group exchange.
    </p>

    <ul>
        <p>
            <label for="id_F_stage2_1"><input type="radio" id="id_F_stage2_1" value="F1" name="F_stage2" required=""> 
            F1</label> - see "Scores with F1 Selected" in instructions below. 
        </p>
        <p>
            <label for="id_F_stage2_2"><input type="radio" id="id_F_stage2_2" value="F2" name="F_stage2" required=""> 
            F2</label> - means Role F does not choose to increase their baseline Group Exchange contribution. The Role A participant will then be asked to make another decision in Stage 3.
        </p>
    </ul>

	    
        <center><img src="/static/img/stage2.png"/ height="300" align="center"></center>

<br>
    {% next_button %}


    <p>
    	<br><br>
        Full Instructions <a href="#" id="hide">Hide</a> - <a href="#" id="show">Show</a>
    </p>

	<div id='instrucs' style="display:none"> {% include Constants.instructions_template %} </div>



{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("#instrucs").hide();
        });
        $("#show").click(function(){
            $("#instrucs").show();
        });
    });
    </script>
{% endblock %}
